{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="category-page">

    <!-- COVER IMAGE -->

    <div class="category-cover">

        {% if category.image %}
            <img src="{{ category.image.url }}"
                 alt="{{ category.name }}">
        {% endif %}

        <!-- BACK BUTTON -->

        <a href="/"
           class="back-btn">

            <span>❮</span>

        </a>

    </div>

    <!-- WHITE FLOATING HEADER -->

    <div class="category-floating-box">

        <h1>
            {{ category.name }}
        </h1>

    </div>

    <!-- STORES -->

    <div class="store-list">

        {% for store in stores %}

        <a href="{% if store.is_open %}{% url 'store_detail' store.id %}{% else %}#{% endif %}"
            class="store-row {% if not store.is_open %}store-disabled{% endif %}">

            <!-- IMAGE -->

            <div class="store-image">

                {% if store.image %}
                    <img src="{{ store.image.url }}">
                {% endif %}

            </div>

            <!-- INFO -->

            <div class="store-info">

                <h3>
                    {{ store.name }}
                </h3>

                {% if store.total_ratings > 0 %}

                <div class="rating-pill">

                    ⭐ {{ store.average_rating }}

                </div>

                {% endif %}

                <div class="store-meta">

                {% if store.is_open %}

                    <div class="store-open-badge">
                        🟢 Open Now
                    </div>

                {% else %}

                    <div class="store-closed-badge">
                        🔴 Closed
                    </div>

                    <div class="next-open-time">
                        Opens at {{ store.next_open_time }}
                    </div>

                {% endif %}

            </div>

                <div class="starting-price">

                    Starting from

                    <strong>

                        ₹{{ store.min_price|default:"0" }}

                    </strong>

                </div>

                <div class="items-pill">

                    {% if store.total_products > 20 %}
                    20+ Items
                    {% else %}
                    {{ store.total_products }} Items
                    {% endif %}

                </div>

            </div>

        </a>

        {% endfor %}

    </div>

</div>

{% endblock %}