<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Account Created</title>

</head>

<body>

<script>

    /*
    ============================================================
    LINK FCM TOKEN
    ============================================================
    */

    if (
        window.LokaAndroid &&
        typeof window.LokaAndroid
            .linkLoggedInFcmToken === "function"
    ) {

        console.log(
            "Linking FCM token after registration..."
        );

        window.LokaAndroid
            .linkLoggedInFcmToken();

    }


    /*
    ============================================================
    REDIRECT TO HOME
    ============================================================
    */

    setTimeout(
        function() {

            window.location.href = "/";

        },
        500
    );

</script>

</body>

</html>