{% extends "base.html" %}
{% block content %}

<div class="container mt-5 mb-5" style="max-width:800px;">

    <h2 class="mb-4 text-center">गोपनीयता धोरण</h2>

    <p><strong>शेवटचा अद्यतन:</strong> 13/04/2026</p>

    <h5>1. आम्ही कोणती माहिती गोळा करतो</h5>
    <p>नाव, मोबाईल नंबर, पत्ता आणि ऑर्डर माहिती.</p>

    <h5>2. माहितीचा वापर</h5>
    <p>ऑर्डर प्रक्रिया, ग्राहक सेवा आणि अॅप सुधारण्यासाठी.</p>

    <h5>3. माहिती शेअर करणे</h5>
    <p>फक्त डिलिव्हरी आणि पेमेंट सेवांसोबत.</p>

    <h5>4. डेटा सुरक्षा</h5>
    <p>आपली माहिती सुरक्षित ठेवली जाते.</p>

    <h5>5. संपर्क</h5>
    <p>ईमेल: support.loka@email.com</p>

</div>

{% endblock %}