{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="container page-content">
    <h2 class="fw-bold mb-4">{% trans "Return Policy" %}</h2>

    <p>
        जर तुम्हाला खराब झालेल्या किंवा चुकीच्या वस्तू मिळाल्या तर, कृपया डिलिव्हरीच्या २४ तासांच्या आत आमच्याशी संपर्क साधा.
    </p>

    <p>
        पडताळणीनंतर ३ ते ५ कामकाजाच्या दिवसांत refund दिला जाईल.
    </p>

    <p>
        नाशवंत वस्तू खराब झाल्या असल्याशिवाय परत करण्यासाठी पात्र नसतील.
    </p>
</div>

{% endblock %}